body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: darkblue;
}

.caja-grande {
    margin: 60px;
    padding: 10px;
    font-size: 1.3em;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    border-style: solid ;
}

.cabecera {
    background-color: #7e680a;
    padding: 0.5em;
    margin: 1em;
    color: antiquewhite;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6rem;
    box-shadow: black;
}

.footer {
    background-color: cornflowerblue;
    padding: 15px;
    text-align: center;
    color: white;
    font-family: cursive;
}